<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner h-100">
            <div class="carousel-item h-100 active">
                <img class="d-block h-100 w-100" src="./images/bonfire-green-fields.jpg" alt="First slide"/>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block h-100 w-100" src="./images/sea-of-clouds.jpg" alt="Second slide"/>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block h-100 w-100" src="./images/bonfire-burning-camp.jpg" alt="Third slide"/>
            </div>
        </div>
    </div>

<%- include("./partials/footer") %>